.metadeBlur::after {
    content: '';
    position: absolute;
    top: 0;
    right: 75%!important; /* Covers half of the image */
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0)!important; /* Transparent background */
    backdrop-filter: blur(10px)!important; /* Blur effect */
    pointer-events: none!important; /* Ensures the element doesn't interfere with mouse events */
}
.legendaCarrosel {
    position: absolute;
    z-index: 2;
    top: auto;
    bottom: 50%;
    left: 5%;
}
body{
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
}
.fontSerrat {
  font-family: "Montserrat", system-ui;
}
.header-default{
    background: radial-gradient(
        circle at 10% 20%,
        #054970 0%, 
        #267695 90.2%);

}
.footer-default{
    background: radial-gradient(
        circle at 10% 20%,
        #054970 0%, 
         #267695 90.2%);
    position: absolute;
    bottom: 0;

}
